@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Estilos globais e fontes */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 20px;
}


.header {
  position: fixed;
  left: 270px;
  width: 1660px;
  height: 100px;
  border-top: 1px solid #000;
  border-left: none;
  border-bottom: 1px solid #000;
  border-right: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
}

.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  margin-top: -60px;
  margin-left: 300px;
}

.item {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  display: flex;
}

.item:nth-child(1) {
  grid-column: span 7;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  width: 1010px;
  height: 200px;
}

.item:nth-child(2) {
  grid-column: 3;
  justify-self: left;
  align-self: left;
  grid-row: 2;
  border: none;
}

.item:nth-child(3) {
  grid-column: 3 / span 1;
  grid-row: 3;
  height: 135px
}

.item:nth-child(4) {
  grid-column: 4 / span 1;
  grid-row: 3;
  height: 135px;

}

.item:nth-child(5) {
  grid-column: 5 / span 1;
  grid-row: 3;
  height: 135px;

}

.item:nth-child(6) {
  grid-column: 3 / span 1;
  grid-row: 4;
  width: 330px;
  height: 135px;
}

.item:nth-child(7) {
  grid-column: 4 / span 1;
  grid-row: 4;
  width: 330px;
  height: 135px;

}

.item:nth-child(8) {
  grid-column: 5 / span 1;
  grid-row: 4;
  width: 330px;
  height: 135px;

}

body {
  min-height: 100vh;
  background-color: #6495ED;
  margin: 0;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 270px;
  position: fixed;
  background: #042074;
  height: 100vh;
  transition: 0.4s ease;

}

.sidebar.collapsed {
  width: 85px;
}

.sidebar-nav .nav-link .nav-label {
  transition: opacity 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
  opacity: 0;
  pointer-events: none;
}

.sidebar-header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 25px 20px;
  justify-content: space-between;
}

.sidebar-header .header-logo img {
  width: 46px;
  height: 46px;
  display: block;
  object-fit: contain;
  border-radius: 50%;
}

.sidebar-header .toggler {
  height: 35px;
  width: 35px;
  border: none;
  color: #4169E1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  background: #fff;
  transition: 0.4s ease;
}



.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  gap: 4px;
  padding: 0 15px;
  flex-direction: column;
  transform: translateY(15px);
  transition: 0.4s ease;
}



.sidebar-nav .nav-link {
  color: #fff;
  display: flex;
  gap: 12px;
  border-radius: 8px;
  align-items: center;
  padding: 12px 15px;
  white-space: nowrap;
  text-decoration: none;
  transition: 0.4s ease;
}

.sidebar-nav .nav-link:hover {
  color: #151A2D;
  background: #fff;
}

.sidebar-nav .nav-item {
  position: relative;
}

.sidebar-nav .nav-tooltip {
  position: absolute;
  top: -10px;
  left: calc(100% + 25px);
  color: #151A2D;
  padding: 6px 12px;
  border-radius: 8px;
  background: #fff;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0s;
}

.sidebar-nav .nav-item:hover .nav-tooltip {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(50%);
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .nav-tooltip {
  display: block;
}

.sidebar-nav .secondary-nav {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.hidden {
  display: none;
}


.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

#username {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

#cellnumber {
  font-size: 13px;
  color: rgb(58, 58, 58);
}

#chatButtonAddButton {
  background-color: yellowgreen;
  /* Cor de fundo */
  color: white;
  /* Cor do texto */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Botão de adicionar áudios */
#audioButtonAddButton {
  background-color: orange;
  /* Cor de fundo */
  color: white;
  /* Cor do texto */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Botão de adicionar mídias */
#mediaButtonAddButton {
  background-color: aqua;
  /* Cor de fundo */
  color: black;
  /* Cor do texto */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Botão de adicionar documentos */
#documentsButtonAddButton {
  background-color: yellow;
  /* Cor de fundo */
  color: black;
  /* Cor do texto */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Botão de adicionar funis */
#funnelsButtonAddButton {
  background-color: purple;
  /* Cor de fundo */
  color: white;
  /* Cor do texto */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Botão de adicionar gatilhos */
#triggersButtonAddButton {
  background-color: red;
  /* Cor de fundo */
  color: white;
  /* Cor do texto */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Adiciona hover para todos os botões */
#filterAndAdd button:hover {
  opacity: 0.9;
  transform: scale(1.05);
  /* Efeito de zoom */
  transition: transform 0.2s, opacity 0.2s;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fundo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Conteúdo do modal */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:first-child {
  background-color: green;
  color: white;
}

.modal-content button:last-child {
  background-color: red;
  color: white;
}

#itemList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  margin-left: 460px ;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #042074;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #444;
  color: white;
}

.item-name {
  font-size: 18px;
  font-weight: bold;
}

.item-date {
  font-size: 14px;
  color: #aaa;
}

.item-actions {
  display: flex;
  gap: 8px;
}

.edit-btn, .delete-btn {
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  background: #ffa500;
  color: white;
}

.delete-btn {
  background: #ff4444;
  color: white;
}

.item-label{
  font-size: 22px;
}

.item-count {
  font-size: 30px;
  color: white;
  margin-left: auto;
  padding-top: 60px;
  /* Move para a esquerda */
}

